h1 {
    color: white;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    
}

h2 {
    font-size: 25px;
}


header,
footer {
    background-color: #005381;
    border-radius: 15px;
    line-height: 10px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

footer {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

main {
    margin: auto;
    max-width: 700px;
}


img {
    height: 225px;
    box-shadow: 10px 10px 5px grey;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

ul,
li {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration-line: none;
}

a {
    color: #56ACDD;
}

#last_modified {
    font-size: 15px;
    color: #B9F18C;
}