
	
	main{
		max-width: 100%;
	}
	nav {
		position: absolute;
		top: 25%;
		width: 100%;
		background-color:$secondaryColor;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation li a {
		
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

	.contactInformation {
		max-width: 80%;
		margin: auto;
    }

    .header-h1 {
		top: 40px;
        font-size: 1.1em;
        letter-spacing: .1em;
    }
	.parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
	#contactGrid {
		height: 300px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.left_col, .right_col{
		width: 35%;
		flex: 1 0 15em;
	  }

	
	  div.data {
		display: flex;
		flex-direction: column;
		margin: auto;
	   
	}  
	
	div.data img {
		width: 95%;
    	height: auto;
    	margin: auto;
    	display: flex;
    	padding: 10px;
	}
	div.data :nth-child(odd) {
		flex-direction: row-reverse;
	}
	
	div.data :nth-child(even) {
		flex-direction: row;
	}
	
	
	
