.hero-image {
    background-image: url("/final-project/images/header_1920_800_med.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
}


.header-h1 {
    position: absolute;
    top: 120px;
    width: 100%;
    margin-top: 40px;
    background-color: $primaryColor;
    margin: auto;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: 'Holtwood One SC', serif;
    letter-spacing: .2em;
}

#logo {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 3%;
    width: 100px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: $boxShadow;
    
}

.summaryInset {
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 3%;
    background-color:whitesmoke;
    padding: 10px;
    box-shadow: $boxShadow;
    
    height: 80px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(50, 50, 50, .4);
    border-radius: 5px;
    
}


nav {
    position: absolute;
    top: 5%;
    width: 100%;
    background-color:$secondaryColor;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li .current {
    background-color: #005381;
}
.navigation {
	list-style: none;
	padding: 0em;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

.navigation .active{
    background-color: #56acdd;
}
.navigation a:hover {
	color: #000;
	background-color: #56acdd;
    font-weight: 700;
    border-radius: 5px;
    
}
.responsive li {
	display: block;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.content{
    overflow: hidden;
    padding: 20px;
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin: auto;
    background-color: $backgroundColor;
    box-shadow: $boxShadow;

}
.body-img-1 {
    float: none;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: $boxShadow;
}

.body-text-1 {
    float: none;
    text-align: center;
}
.body-img-2 {
    float: none;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: $boxShadow;
}

.body-text-2 {
    float: none;
    text-align: center;
}

.map {
    overflow: hidden;
    position: relative;
    float: none;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: $boxShadow;
}
.map iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    
}

.contact {
    float: none;
    text-align: center;

}

footer {
    margin-top: 30px;
    background-color: $primaryColor;
    text-align: center;
    padding: 5px;
    max-width: 100%;
    
}