h1,h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;

}


h2 {
    font-size: 25px;
}


header,
footer {
    background-color: #005381;
    border-radius: 15px;
    line-height: 10px;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

footer {
    text-align: center;
}

header {
    
    height: 50px;
}

main {
    margin: auto;
    max-width: 700px;
}



p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

ul,
li {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration-line: none;
}

a {
    color: #56ACDD;
}

#last_modified {
    font-size: 15px;
    color: #B9F18C;
}