@media only screen and (min-width: 32.5em) {
	footer {
        max-width: 90%;
	}
	main{
		max-width: 98%;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation li a {
		
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

	.fiveDayForcast {
		display: block;
		margin: auto;
	} 

	.article {
		text-align: justify;
        margin: auto;
        
    }

    .article img {
		float: right;
		max-width: 80%;
     		
	}
	#contactGrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.column {
		padding: 10px;
		font-size: 12px;
		text-align: center;
		background-color: white;
		border-radius: 10px;
		
	}

	.column img {
		display: block;
		max-width: 300px;
		height: auto;
	}
	
	.container {
		margin: 1rem auto; 
		display:grid; 
		grid-template-columns: 1fr 1fr; 
		max-width: 90%; 
		justify-content: center
	}

	div.data {
		display: flex;
		flex-direction: column;
		margin: auto;
	   
	}  
	
	div.data img {
		width: 95%;
    	height: auto;
    	margin: auto;
    	display: flex;
    	padding: 10px;
	}
	div.data :nth-child(odd) {
		flex-direction: row-reverse;
	}
	
	div.data :nth-child(even) {
		flex-direction: row;
	}
}